<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <main style="display: flex; flex-direction: column; align-items: center;">
        <h1>COLOSTR</h1>
        <p>Change text into color-code</p>
        <div id="text" class="flex">
            <div class="flex flex-col">
                <form class="flex flex-col" id="form">
                    <textarea name="text" id="textarea" cols="30" rows="10"　 placeholder="徒然なるままに日暮"></textarea>
                    <button type="submit">Let's change</button>
                </form>
            </div>
            <div id="result" class="flex flex-col">
        </div>

        </div>
    </main>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="../static/javascript/main.js"></script>
</html>